/* ============================= */
/*           Root Styles         */
/* ============================= */
/* ============================= */
/*           Global Styles       */
/* ============================= */

.kb-body{
    font-family: var(--kb-font-family);
    color: var(--kb-primary-font);
    margin: 0;
}

/* ============================= */
/*           colour Styles       */
/* ============================= */
.theme-toggle-btn {
    background: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--kb-primary-font);
}

